-i https://pypi.org/simple
certifi==2022.6.15
charset-normalizer==2.0.12
git+https://github.com/isaacsancheza/erebor@44c79c2397dfbbc630993ff6dbdfed75072f495f#egg=erebor
idna==3.3
requests==2.28.0
urllib3==1.26.9
